body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2, h3, h4 {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}